.alphabet-block{
    float:left;
    text-align: center;
}

h1{
    text-transform: capitalize;
    text-align: center;
}

.btn {
    height: 35px;
}

.right-block {
    div {
        input {
            height: 100px;
        }
    }
}
