<div class="container">
  <h1 class="col-sm-12">Bienvenido a cifrado monoalfabetico</h1>
  <form class="col-sm-12">
    <div class="alphabet-block form-group col-xs-2 col-sm-4">
      <label for="alphabet">Alfabeto</label>
      <input class="ofset-2 col-sm-4 " type="text" class="form-control">
      <input class="ofset-2 col-sm-4 " type="text" class="form-control">
      <input class="ofset-2 col-sm-4 " type="text" class="form-control">
      <input class="ofset-2 col-sm-4 " type="text" class="form-control">
      <input class="ofset-2 col-sm-4 " type="text" class="form-control">
      <input class="ofset-2 col-sm-4 " type="text" class="form-control">
      <input class="ofset-2 col-sm-4 " type="text" class="form-control">
      <input class="ofset-2 col-sm-4 " type="text" class="form-control">
      <input class="ofset-2 col-sm-4 " type="text" class="form-control">
      <input class="ofset-2 col-sm-4 " type="text" class="form-control">
      <input class="ofset-2 col-sm-4 " type="text" class="form-control">
      <input class="ofset-2 col-sm-4 " type="text" class="form-control">
      <input class="ofset-2 col-sm-4 " type="text" class="form-control">
      <input class="ofset-2 col-sm-4 " type="text" class="form-control">
      <input class="ofset-2 col-sm-4 " type="text" class="form-control">
      <input class="ofset-2 col-sm-4 " type="text" class="form-control">
      <input class="ofset-2 col-sm-4 " type="text" class="form-control">
      <input class="ofset-2 col-sm-4 " type="text" class="form-control">
      <input class="ofset-2 col-sm-4 " type="text" class="form-control">
      <input class="ofset-2 col-sm-4 " type="text" class="form-control">
      <input class="ofset-2 col-sm-4 " type="text" class="form-control">
      <input class="ofset-2 col-sm-4 " type="text" class="form-control">
      <input class="ofset-2 col-sm-4 " type="text" class="form-control">
      <input class="ofset-2 col-sm-4 " type="text" class="form-control">
    </div>

    <div class="right-block form-group col-xs-2 col-sm-8">
      <div class="plaintext-block form-group col-sm-12">
        <label for="plain-text">Texto</label>
        <input type="text" class="form-control" id="plaintext-input">
      </div>
      <div class="result-block form-group col-sm-12">
        <label for="result">Resultado</label>
        <input type="text" class="form-control" id="result-input">
      </div>

      <button type="submit" class="btn btn-success">Cifrar</button>
      <button type="submit" class="btn btn-success">Decifrar</button>
    </div>


  </form>
</div>
<!--texto plano, 24 alfabeto, resultado , botones.-->